<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Chatty | Home</title>
    <meta name="description" content="Chatty home" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Chatty | Home" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mlchat.pythonanywhere.com/" />
    <meta
      property="og:image"
      content="https://mlchat.pythonanywhere.com/static/png/favicon.png"
    />
    <link rel="icon" href="../static/png/favicon.png" type="image/png" />
    <link rel="stylesheet" href="../static/css/globals.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <div class="element">
      <div class="div">
        <img
          class="header"
          alt="Welcome to Chatty"
          src="/static/png/welcome-to-chatty.png"
        />
        <p class="your-chatbot-your">Your Chatbot, Your Rules!</p>

        <div class="buttons">
          <a href="/create" class="button"> Create Model </a>
          <!-- <a href="/static/outs/chat.exe" download> -->
          <a href="#" class="button"> Download App </a>
          <a href="/static/outs/chat.zip" class="button" download>
            Get .py Files
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
